

html {
background-color: black;
text-align:center;
}

h1 {
  font-family:Verdana;
  font-weight:normal;
  font-size: 50px;
  color: white;
  position: centered;

}
h2{
  font-family: Verdana;
  font-weight:300;
  font-size:42;
  color:white;

}
a{
  color:Aquamarine;
  font-size: 16px:
}

.excursion{
  font-family:Verdana;
  font-size:21px;
  color:gray;

}
.copy{
  text-align:right;
  color:gray;
}
